@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Menu</h1>
</div>
<ul>
    <li><a asp-area="" asp-controller="Quiz" asp-action="Quiz">Quiz</a></li>
    <li><a asp-area="" asp-controller="Quiz" asp-action="QuizResult">QuizResult</a></li>
</ul>
